<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/base :: common_header(~{::title},~{::link}, ~{})}">
    <title>자영업자 매출 예측 시스템</title>
    <link rel="stylesheet"
          type="text/css"
          media="all"
          th:href="@{/css/login.css}">

</head>
<body>
<div class="login-wrapper">
    <h2>로그인</h2>
    <form id="loginForm">

        <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" placeholder="you@example.com" required />
        </div>

        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="••••••••" required />
        </div>
        <a href="/signup" class="signup-btn">
            <button type="button" class="signup-btn">회원가입</button>
        </a>
        <button type="button" class="login-btn">로그인</button>
    </form>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const params = new URLSearchParams(location.search);

      // ① 로그아웃 메세지
      if (params.get("logout") !== null) {
        showToast("👋 로그아웃 되었습니다.", "blue");
      }

      // ② 로그인 실패 (?error)
      if (params.get("error") !== null) {
        showToast("아이디 또는 비밀번호가 틀렸습니다.");
      }

      if (params.has("logout") || params.has("error")) {
        history.replaceState(null, "", location.pathname);
      }
    });

    const loginBtn = document.querySelector(".login-btn");
    loginBtn.addEventListener("click",() =>{
        const username = document.querySelector("#username").value;
        const password = document.querySelector("#password").value;
        const data = {username , password}

        $.ajax({
            url : "/api/auth/login",
            method: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(response){
                location.href='/';
            },
            error: function(error){
                console.log(error.responseJSON);
                showToast(error.responseJSON.message, "red")
            }
        })
    })


</script>
</html>
