<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: common_header(~{::title},~{::link},~{})}">
  <title>자영업자 매출 예측 시스템</title>
  <link th:href="@{/css/password-change.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{fragment/navbar :: navbar}"></div>
<div class="container">
  <nav th:replace="~{fragment/sidebar :: sidebar}"></nav>
  <main class="main-content" id="mainContent">
    <h2>비밀번호 변경</h2>
    <div id="password-box">
      <p>현재 비밀번호<input id="old-password" type="password"/></p>
      <p>새 비밀번호<input id="new-password" type="password"/></p>
      <p>비밀번호 확인<input id="new-password-confirm" type="password"/></p>
    </div>
    <div class="profile-btns">
      <button id="cancel-btn">취소</button>
      <button id="change-btn">변경</button>
    </div>
  </main>
</div>
</body>
<script>
  const oldPassword = document.querySelector("#old-password");
  const newPassword = document.querySelector("#new-password");
  const newPassword2 = document.querySelector("#new-password-confirm");

  const cancelBtn = document.querySelector("#cancel-btn");
  const changeBtn = document.querySelector("#change-btn");

  cancelBtn.addEventListener("click",()=>{
    history.back();
  })

  changeBtn.addEventListener("click",()=>{
    let targetTag;
    const passwordBox = document.querySelector("#password-box");
    const inputs = passwordBox.querySelectorAll("input");
    inputs.forEach(elem => {
      if(elem.value == ""){
        targetTag = elem;
      }
    });

    if(targetTag){
      alert("값을 입력해주세요.");
      targetTag.focus();
      return;
    }


    if(newPassword.value.length < 8){
      alert("비밀번호는 8자 이상이어야 합니다.");
      newPassword.focus();
      return;
    }

     if (!/\d/.test(newPassword.value)) {
            alert('비밀번호는 숫자를 1개 이상 포함해야 합니다.');
            newPassword.focus();
            return;
        }

    if (!/[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/.test(newPassword.value)) {
        alert('비밀번호는 특수문자를 1개 이상 포함해야 합니다.');
        newPassword.focus();
        return;
    }

    if(newPassword.value != newPassword2.value){
      alert("비밀번호가 일치하지 않습니다.");
      newPassword2.focus();
      return;
    }


    const data = {
      oldPassword: oldPassword.value,
      newPassword: newPassword.value,
      newPassword2: newPassword2.value
    }

    $.ajax({
      url : "/api/profile/me",
      method : "patch",
      data: JSON.stringify(data),
      contentType : "application/json",
      success: function(response){
        window.location.href="/profile?pw_success";
      },
      error: function(error){
        showToast(error.responseJSON.message,"red","bottom");
      }
    })

  });


</script>
</html>
