<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: common_header(~{::title},~{},~{})}">
    <title>자영업자 매출 예측 시스템</title>
</head>
<body>
<div th:replace="~{fragment/navbar :: navbar}"></div>
<div class="container">
    <nav th:replace="~{fragment/sidebar :: sidebar}"></nav>
    <main class="main-content" id="mainContent">
        <h2>내 프로필</h2>
            <div>
                <p>아이디: <span th:text="${member.username}">username</span></p>
                <p>이메일: <span th:text="${member.email}">email</span></p>
                <p>닉네임: <span th:text="${member.nickname}">nickname</span></p>
                <p>가입일: <span th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd')}">createdAt</span></p>
            </div>
            <div class="profile-btns">
                <a href="/profile/edit">프로필 변경</a>
                <a href="/profile/password">비밀번호 변경</a>
            </div>
    </main>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
     const params = new URLSearchParams(location.search);

     if (params.get("pw_success") !== null) {
       showToast("비밀번호가 성공적으로 변경되었습니다.", "blue","bottom");
     }

     if (params.get("profile_success") !== null) {
        showToast("프로필이 성공적으로 변경되었습니다.", "blue","bottom");
     }

     if (params.has("pw_success") || params.has("profile_success") ) {
       history.replaceState(null, "", location.pathname);
     }
   });
</script>
</html>
