<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_header(~{::title},~{::link}, ~{::script})">
  <title>자영업자 매출 예측 시스템</title>

  <script type="text/javascript" defer th:src="@{/js/sales.js}"></script>

  <!-- Flatpickr core -->
  <link
          rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css}"
  />
  <script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr}"></script>

  <script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js}"></script>
  <!-- WeekSelect Plugin -->
  <script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/weekSelect/weekSelect.js}"></script>
  <link
          rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/weekSelect/weekSelect.css}"
  />
</head>
<body>
<div th:replace="fragment/navbar :: navbar"></div>

<div class="container">
  <nav th:replace="fragment/sidebar :: sidebar"></nav>

  <main class="main-content" id="mainContent">
    <h2>매출 입력</h2>
    <div class="placeholder-box">
      <h3>유형 선택</h3>
      <input name="type" id="type_month" type="radio" value="month" />
      <label for="type_month">월간</label>
      <input name="type" id="type_week" type="radio" value="week" />
      <label for="type_week">주간</label>
      <div id="input_box">
        <div id="input_item_box"></div>
        <div id="btn_box"></div>
      </div>
    </div>
  </main>
</div>
</body>
</html>
